p {
    font-family: 'Times New Roman';
    color: white;
}

body {
    margin: 0px 0px 0px 0px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(176, 225, 184);
    background-image: linear-gradient(to bottom right, rgb(176, 62, 247), rgb(91, 121, 242), rgb(63, 244, 250));
    padding: 3%
}

#name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    gap: 2%;
}

a.social:link, a.social:visited {
    background-color: rgb(124, 219, 224);
    color: white;
    border: 2px solid white;
    border-radius: 13%;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.social:hover, a.social:active {
    background-color: rgb(144, 104, 225);
    color: white;
}

.header {
    margin: 2%;
    color: white;
    font-size: 24px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main3 {
    display: flex;
    justify-content: right;
}


.infoSection {
    background-color: rgb(124, 219, 224);
    margin: 15px 15px;
    padding: 3%;
    width: 90%;
    color: white;
}

/*
p.infoSection {
    margin: 25px 15px;
    color: white;
    width: 50%
}

ul.infoSection {
    margin: 25px 15px;
    color: white;
    width: 50%;
}
*/

#AboutMe {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#Classes {
    display: flex;
    flex-direction: row;
    justify-content: left; 
}

#Experience {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


a:link {
    color: blue
}

a:visited {
    color: purple
}

a:hover {
    color: blue
}

a:active {
    color: red
}

#mephoto {
    margin-top: 15px;
}